html {
    font-size: 10px; /* px は「ピクセル」 (pixels) の意味。ベースフォントサイズは 10 ピクセルになった */
    font-family: "Open Sans", sans-serif; /* これが Google フォントから取得した残りの出力になるはず。 */
  }
/*本文全体の設定*/
  body {
    width: 800px;
    margin: 0 auto;
    background-color: #000000;
    padding: 0 20px 20px 20px;
  }
  
  
  /* スマホ向け (画面幅600px以下の場合) */
  @media screen and (max-width: 600px) 
  {
    body {
      font-size: 14px; /* テキストを少し小さくする */
      padding: 0 10px; /* コンテンツに余白を追加 */
    }
  
    /*.inline-container img {
      /*width: 90%;  画像を画面幅の90%に調整 
      /*height: auto;  アスペクト比を維持 
      text-align: center;
      display: flex;
      justify-content: center; /* 中央揃え 
    }*/

    /*.left-align {
      display: block;
      margin: 0;
      text-align: left;
    }*/
  
    table {
      width: 100%; /* テーブルを画面幅に合わせる */
    }
  
    td {
      word-wrap: break-word; /* テキストが長い場合は折り返す */
    }
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  h3{
    font-size: 20px;
    text-align: center;
  }
  
  h4 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
  }

  p {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
  }

  tr, th{
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.4px;
  }

  li {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    /*text-align: center;
    list-style: none;*/
  }

  hr.line1{
    border: none;
    border-top: 2px dotted #6fa8a7;
  }

  /*リンクのスタイル設定*/
  a:link {
    color: lightseagreen;
  }
 
  a:visited {
    color: blueviolet;
  }

  a:hover {
    text-decoration: none;
  }

  /*画像の設定*/
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%; /* 画像が画面幅を超えない */
    height: auto; /* アスペクト比を維持 */
  }

  /*中央揃えにしない画像*/
  .inline-images {
    display: inline-block;
    margin: 0;
  }

  .inline-container {
    text-align: center;
    display: flex;
    justify-content: center; /* 中央揃え */
  }

  .left-align {
    display: block;
    margin: 0;
    text-align: left;
  }
  
  
  /*そのほかの詳細設定*/
  .date{
    font-weight: bold;
  }

  .midashi{
    font-weight: bold;
    color: darkblue;
  }

  .home-p{
    text-align: center;
  }

  .intro-p{
    font-size: 13px;
    text-align: center;
  }
